body{
    background:background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.housem{

    background-color: blanchedalmond;
    color: black;
    border: rgb(83, 9, 9);
    border-width: 10px; 
    font-style: italic;
    border-style: groove;
    font-size: 30px;
    margin: 50px;
margin-left: 5px;
padding-top: 2px;

}
#jamjem{
    font-size: 30px;
    font-style: oblique;
    font-weight: 5000;
    column-count: initial;

}
.navbar{
    position: relative;
}
    